{% extends 'base.html' %}

{% block title %}
    Jim The Artist | Contact
{% endblock %}

{% block content %}
{% load static %}



{% if messages %}

    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{message}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

{% endif %}

<h1 class="title text-center mt-5">Contact Information</h1>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-4 order-sm-2 order-lg-1 order-md-1">
      <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <h3><strong>Send me a message here</strong></h3>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Send</button>
      </form>

      </div>
    </div>
    <div class="col-md-4 order-sm-1 order-lg-2 order-md-2">
      <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <p class="lead">Hey thanks for checking out my page. For any inquiries of purchasing my art or any other reason you would like to contact me, please feel free to use the form on the page, or reach out to me directly at the following:</p>
        <br>
        <p class="contact_text">
          <strong>Email:</strong> JimThePainter100@gmail.com
        </p>
        <p class="contact_text">
          <strong>Cell #:</strong> +1 (856) 701-6780
        </p>
      </div>
    </div>
    <div class="col-md-4 d-none d-md-block order-lg-3 order-md-3">
      <img src="{% static 'imgs/Selfie.jpg' %}" class="img-fluid contact-selfie">
    </div>
  </div>
</div>

{% endblock %}
