{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="title"> Jim Militello, Landscape Artist</h1>
            <br/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <div class="about_me_div">
                <h1 class="about_me_header"> About Me </h1>
                <p class="about_me_text">
                    Jim's paintings are done on location here in our region, whether it be local woodlands,
                    seaside vistas, or trips to Appalachian Mountains. He aspires to capture a place or moment in time.
                    He finds compelling subject matter not in distant or exotic travels, but in the natural world all around us seen on almost a daily basis,
                    but often unnoticed. The work is therapeutic; a respite from the pressures and complexities of every day living.
                    This is true for the artist in experiencing the creative process…he hopes also true for those who view his work.
                </p>
                <br/>
                <h1 class="about_me_header"> My Art</h1>
                <p class="about_me_text">

                    Jim's paintings are done on location here in our region, whether it be local woodlands,
                    seaside vistas, or trips to Appalachian Mountains. He aspires to capture a place or moment in time.
                    He finds compelling subject matter not in distant or exotic travels, but in the natural world all around us seen on almost a daily basis,
                    but often unnoticed. The work is therapeutic; a respite from the pressures and complexities of every day living.
                    This is true for the artist in experiencing the creative process…he hopes also true for those who view his work.
                </p>
                <center><a href="{% url 'gallery' %}" class="btn btn-primary btn-lg mr-3">Check Out My Gallery!</a></center>
            </div>
        </div>
        <div class="col-md-5">
    <img class="selfie d-none d-md-block" src="{% static 'imgs/selfie2.JPG' %}" alt="Selfie" style="max-width: 100%;">
</div>

    </div>
</div>
{% endblock %}
