{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="title"> Jim Militello, Landscape Artist</h1>
            <br/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <div class="about_me_div">
                <h1 class="about_me_header"> About Me </h1>
                <p class="about_me_text">
                    I am a self-taught artist. That is to say, I have never received any formal training. However, I credit many generous
                    teachers and great artists who I have learned from attending workshops, in reading or watching their videos online.
                    Painting landscapes and nature painting is what I do. My work is inspired by my love (need) to spend time in
                    natural places; forests, lakes, mountains, bays or beaches. For me the time spent hiking, camping, or painting is
                    therapeutic, but also brings me great joy. I hope this may also be true for those who view my work.
                </p>
                <br/>
                <h1 class="about_me_header"> My Art</h1>
                <p class="about_me_text">
                    I paint en plein air whenever possible. Which means painting on site in real time... those people you see
                    with easels set up outdoors on summer afternoons. Though for some of us with passion, it also means sometimes
                    being out there on 20-degree days or standing ankle deep in streams trying to get the composition just right.
                    Some work is completed in the studio when the muse calls during the dark evening hours when being outdoors
                    is not possible. There are also times when that piece you began out on the beach that morning had to be left unfinished
                    because the storm clouds looked like they were about to open up or the bugs were just relentless. The challenge of
                    painting outdoors are many, but so are the rewards. A scene is more real when you hear the surf and feel the
                    sunshine. There is life in the work that just can't be matched when you work from a two-dimensional photo reference.
                </p>
                <center><a href="{% url 'gallery' %}" class="btn btn-primary btn-lg mr-3">Check Out My Gallery!</a></center>
            </div>
        </div>
        <div class="col-md-5">
    <img class="selfie d-none d-md-block" src="{% static 'imgs/selfie2.JPG' %}" alt="Selfie" style="max-width: 100%;">
</div>

    </div>
</div>
{% endblock %}
